@import 'normalize.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans:wght@500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: $body-background;
}
