$body-background: #f4f4f4;
$light-background: #ffffff;
$dark-background: #222222;

$border-radius: 4px;
$border-color: #ddd;

$brand-color: #e16640;
$brand-color-hover: #d0613e;

$light-color: #fff;
$dark-color: #44413e;

:root {
  // components-background
  --components-background-dark: #{$dark-background};
  --components-background-light: #{$light-background};
  --components-background-default: var(#{--components-background-light});

  // text-color
  --text-color-dark: #{$dark-color};
  --text-color-light: #{$light-color};
  --text-color-default: var(#{--text-color-dark});
}
