$body-background: #f4f4f4;
$light-background: #ffffff;
$dark-background: #222222;

$border-radius: 4px;
$border-color: #ddd;

$brand-color: #e16640;
$brand-color-hover: #d0613e;

$light-color: #fff;
$dark-color: #44413e;

$body-background-dark: #0d1117;
$body-background-light: #fff;

$components-background-dark: #4f4f4f;
$components-background-light: #fff;
$components-box-shadow-dark: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

$card-background-dark: #2e3035;
$card-background-light: rgba(71, 147, 255, 0.2);

$card-box-shadow-dark: 0px 3px 20px rgba(5, 5, 5, 0.28);
$card-box-shadow-light: 0px 3px 20px rgba(147, 144, 144, 0.28);

:root {
  // body-background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

  // components-background
  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(#{--components-background-light});

  --components-box-shadow-dark: #{$components-box-shadow-dark};

  // card-background
  --card-background-dark: #{$card-background-dark};
  --card-background-light: #{$card-background-light};
  --card-background-default: var(#{--card-background-light});

  // card-shadow
  --card-box-shadow-dark: #{$card-box-shadow-dark};
  --card-box-shadow-light: #{$card-box-shadow-light};
  --card-box-shadow-default: var(#{--card-box-shadow-light});

  // text-color
  --text-color-dark: #{$dark-color};
  --text-color-light: #{$light-color};
  --text-color-default: var(#{--text-color-light});
}
