@import './styles/variables.scss';

:host {
  .reserve-form {
    gap: 20px;
    min-width: 300px;
    padding: 30px;

    border-radius: $border-radius;
    background-color: $light-background;
    text-align: center;

    &__title {
      margin: 0;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 500;
      color: $dark-color;
    }

    &__input-container {
      position: relative;
      margin-bottom: 20px;
      padding: 15px 20px;
      border: solid 1px $border-color;
      border-radius: $border-radius;

      font-family: inherit;
      font-size: 15px;
      font-weight: 300;
      text-align: left;

      transition: border-color 0.2s;

      &:hover {
        border-color: $brand-color;

        .reserve-form__drop {
          transform: rotate(180deg);
        }
      }

      &--last-child {
        margin-bottom: 53px;
      }
    }

    &__input {
      cursor: pointer;

      &--select {
        position: absolute;
        top: 20px;
        opacity: 0;
        z-index: 1;
        line-height: 50px;
        padding: 12px 6px;
        box-sizing: border-box;
        height: 50px;
        width: 100%;
        margin-top: -25px;
        margin-left: -20px;
      }
    }

    &__text {
      font-size: 15px;
      font-weight: 300;
    }

    &__minus {
      position: absolute;
      top: 15px;
      right: 70px;
      z-index: 2;
      cursor: pointer;
    }

    &__plus,
    &__drop {
      position: absolute;
      top: 15px;
      right: 20px;
      z-index: 2;
      cursor: pointer;

      transition: transform 0.3s;
    }

    &__button {
      width: 100%;
      padding: 13px 0;
      border: none;
      border-radius: $border-radius;
      background-color: $brand-color;

      font-family: inherit;
      font-size: 15px;
      font-weight: 500;
      color: $light-color;
      text-transform: uppercase;
      cursor: pointer;

      transition: background-color 0.2s, opacity 0.2s;

      &:hover {
        background-color: $brand-color-hover;
      }

      &:active {
        opacity: 0.8;
      }
    }
  }
}
